
    <div class="footer-content">
        <h3>THE LOCKEROOM</h3>
        <p>Sneakers. Sneakers. Sneakers.</p>

        <ul class="footer-links">
            <li><a href="index.html">Home</i></a></li>
            <li><a href="ProductL.html">Footwear</i></a></li>
            <li><a href="aboutus.html">About us</i></a></li>
            <li><a href="errorpage.html">Cart</a></li>
         </ul>

    </div>
