<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lockeroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> 
   </head>
   <body>

    <nav>
        <ul>
            <div class="logo">
                <a href="index.html">
                <img src="Images/ALTLOGO.png" width="150" height="75">
           </div>

           <div class="items">
              <li><a href="index.html">HOME</a></li>
              <li><a href="ProductL.html">FOOTWEAR</a></li>
              <li><a href="aboutus.html">ABOUT US</a></li>
              <li><a href="errorpage.html">CART</a></li>
           </div>
              <li class="icon">
                <a href="Search.html">
              <span class="fas fa-search"></span>
                </a>
              </li>
           </li>
        </ul>
     </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="ProductL.html">
            <img src="/Images/Drake-Lil-Durk-Basically-Made-A-Nike-Commercial-Laugh-Now-Cry-Later-Video--scaled.jpg" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="ProductL.html">
            <img src="/Images/1124d6cf-f235-46bb-ab5b-c00ab9635196.jpg" class="d-block w-100" alt="...">
          </a>
          </div>
          <div class="carousel-item">
            <a href="ProductL.html">
            <img src="/Images/c54dc960-5bb4-4cd0-a08c-d92d4eb37de2.jpg" class="d-block w-100" alt="...">
          </a>
          </div>
          <div class="carousel-item">
            <a href="ProductL.html">
            <img src="Images/95ac020e2195aa4359a76afa5c92b6831d09fcf4_810.png" class="d-block w-100" alt="...">
          </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </br>
</br>
</br>

<!----features----->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/9ecbf2f83b99883e8861e99e17b12c40.jpg">
            </div>
            <div class="col-3">
                <img src="images/Nike-Drake-Nocta-Official-02_100572.jpg">
            </div>
            <div class="col-3">
                <img src="images/sc4.jpg">
            </div>
        </div>
    </div>
</br>
</br>
</br>

 <!-----featured products---->
 
        <div class="small-container">
          <h2 class="title"> FEATURED PRODUCTS </h2>
            <div class="row">
              
                <div class ="col-4">
                    <a href="ProductL.html" style="text-decoration: none ;">
                        <img src="images/f1.png" >
                        <p> Nike LeBron 9 'Big Bang' <p>
                        <p style="color:red ;">SOLD OUT</p>
                    </a>
                    

                </div>
                <div class ="col-4">
                    <a href="ProductL.html" style="text-decoration: none ;">
                        <img src="images/f2.png">
                    <p> Nike Air Force 1 '07 'Year of the Tiger' </p>
                    <p style="color:red ;">SOLD OUT</p>
                    </a>
                    

                </div>
                <div class ="col-4">
                    <a href="ProductL.html" style="text-decoration: none ;">
                    <img src="images/f3.png">
                    <p> Wmns Jordan Air Latitude 720 'Black/Bright Crimson' <p>
                    <p style="color:red ;">SOLD OUT</p>
                    </a>

                </div>
                <div class ="col-4">
                    <a href="ProductL.html" style="text-decoration: none ;" >
                        <img src="images/DC9364-300-A_1082x.png">
                    <p> Nike Zoom Freak 3 'UNO 4' </p>
                    <p style="color:red ;">SOLD OUT</p>
                    </a>
                    

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
  

  <footer>
  <%- include('./partials/footer.ejs')%>
</footer>

</body>
</html>